@import './variables.scss';
@import './reset.scss';

*{
  box-sizing: border-box;
}

*:before,
*:after{
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active{
  outline: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  font-size: 10px;
  overflow-y: scroll;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $orangeGrey;
}

a {
  color: $brightPurple;
  font-size: $font-size-base;
  text-decoration: none;
  border-bottom: 2px dashed $brightPurple;
  transition: all .2s;
  &:hover {
    color: $brightOrange;
    border-bottom: 2px solid $brightOrange;
  }
}

h1 {
  font-size: 3.9rem;
  font-weight: 900;
  margin-top: 6.7rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}

h2 {
  color: $text-color;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: 3.2rem;
}

h3 {
  color: $text-color;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.4rem;
}
