/* Paths */
$pathToImg: "/images/";

/* Colors */
$cGrey: #f2f2f2;
$grey: #eee;
$white: white;
$black: black;
$orangeGrey: #afa399;
$purple: #554A73;
$brightPurple: #432F75;
$orange: #AA6F39;
$brightOrange: #AD590B;
$green: #789D34;
$lightGreen: rgba(120, 157, 52, 0.53);
$brightGreen: #66A200;


$transitionTime: 0.2s;

$animTime: 0.5s;

$font-family-base: 'Amatic SC', cursive;
$font-size-base: 1.4rem;
$line-height-base: 1.5;
$text-color: #000;
